#icon {
    height: 62px;

}

body {
    margin: 0;
    background-color: rgb(0, 7, 102);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgb(2, 1, 97);
    color: rgb(252, 252, 252);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

#noticias {
    display: flex;
    background-color: rgb(8, 8, 75);
    margin: 40px;

}

.noticia {
    background-color: rgb(150, 164, 241);
    border: 10px solid white;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img_noticia {
    height: 150px;

}

#escalacao {
    display: flex;
    background-color: rgb(8, 8, 75);
    margin: 40px;
    justify-content: space-around;
}

.jogador {
     color: rgb(252, 252, 252);
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img_escalacao {
    height: 150px;
}


footer {
    background-color: rgb(112, 112, 228);
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}